/media

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Dev tools
.idea
.vagrant

# Ignore local configurations
config/settings/local.py
db.sqlite3

# Node modules
node_modules/

# Bower components
bower_components/

# Coverage
htmlcov/
.coverage

# dumpdata file
db.json
/static
/config/settings/user.py
/venv
/django-wrds.log.1
/django-wrds.log.2
/django-wrds.log.3
/django-wrds.log.4
/django-wrds.log.5
/django-wrds.log.6
/django-wrds.log.7
/django-wrds.log.8
/django-wrds.log.9
/uninstall
/uninstall.bak
/src
/uninstall
/uninstall.bak

# Local editor config files
.editorconfig
.ftpconfig
.ftpignore
.jshintignore
.lintignore
project.cson
